<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/core.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Fave Albums</title>
  </head>
  <body>
    <header>
      <img class="vin" src="img/vinyl.png" />
      <h1>crates</h1>
    </header>

    <div class="container">
      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/blond.jpg"
          alt="Image 1"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">blond</p>
            <div class="star-group">
              <img class="star fill" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">Frank Ocean</p>
        </div>
      </div>

      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/Sunburn.jpg"
          alt="Image 2"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">sunburn</p>
            <div class="star-group">
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">Dominic Fike</p>
        </div>
      </div>

      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/Circles.jpg"
          alt="Image 3"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">circles</p>
            <div class="star-group">
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">Mac Miller</p>
        </div>
      </div>

      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/1975.jpg"
          alt="Image 3"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">The 1975</p>
            <div class="star-group">
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">The 1975</p>
        </div>
      </div>

      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/Rumours.jpg"
          alt="Image 3"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">rumours</p>
            <div class="star-group">
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">Fleetwood Mac</p>
        </div>
      </div>

      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/AmericanIV.jpg"
          alt="Image 3"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">american iv</p>
            <div class="star-group">
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">Johnny Cash</p>
        </div>
      </div>

      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/folklore.jpg"
          alt="Image 3"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">folklore</p>
            <div class="star-group">
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">Taylor Swift</p>
        </div>
      </div>

      <div class="card">
        <img
          src="https://is531albumbucket.s3.amazonaws.com/AlbumCovers/smokemirrors.jpg"
          alt="Image 3"
        />
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">smoke + mirrors</p>
            <div class="star-group">
              <img class="star" alt="star" src="img/star-fill.png" />
              <img class="star" alt="star" src="img/star-fill.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
              <img class="star" alt="star" src="img/star-line.png" />
            </div>
          </div>
          <p class="sub">Imagine Dragons</p>
        </div>
      </div>
    </div>
  </body>
</html>
